@mixin flexCenter {
    display: flex;
    justify-content: center;
    align-items: center;
}

// @mixin flexStartSpaceBetween {
//     display: flex;
// justify-content: flex-start;
// align-items: space-between;
// }
