$grey: #f4f4f4;
$lightGrey: #0f111ece;
$black: #0f111e;
$darkBackgroundBorder: 2px solid $lightGrey;
$green: rgb(0, 126, 105);
$green-opaque: rgba(0, 126, 105, 0.5);
$lightBackgroundGreen: #d3f3dccb;
$lighterBackgroundGreen: #d3f3dc91;
