@import "base/variables.scss";
@import "base/mixins.scss";

.container {
    background: $black;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: calc(100vh - 150px);
    color: white;
    display: flex;
    flex-direction: column;
    // display: grid;
    // grid-template-rows: ;

    * {
        width: 600px;
        text-align: left;
        box-sizing: content-box;
        margin: 2px 0;
    }

    .preText {
        font-size: 0.7rem;
        color: white;
        max-width: 4.5rem;
    }

    .thumbnail {
        border-radius: 10px;
        // width: 300px;
    }

    .name {
        color: grey;
    }

    .title {
        color: $green;
        font-weight: bold;
        font-size: 2rem;
    }

    .author {
        font-size: 1.5rem;
    }

    .date {
        font-size: 1.2rem;
    }

    .description {
        font-size: 1.15rem;
    }

    .link {
        text-decoration: none;
        color: $green;
        transition: all 0.2s;
        // height: 1.5rem;
        font-size: 1.5rem;
        transform-origin: 0 0;

        &:hover {
            transform: scale(1.2);
        }
    }
}
