@import "base/variables.scss";

$datesSectionWidth: 175px;
$newsSummariesSectionWidth: 400px;
$datesSectionHeight: 150px;

.container {
    display: grid;
    width: 100vw;
    height: 100vh;
    grid-template-columns: $datesSectionWidth $newsSummariesSectionWidth 1fr;
    grid-template-rows: $datesSectionHeight 1fr;
    grid-template-areas:
        "logo navBar navBar"
        "newsSummaries newsSummaries article";
    .logo {
        grid-area: logo;
    }

    .newsSummaries {
        grid-area: newsSummaries;
    }

    .navBar {
        grid-area: navBar;
    }

    .article {
        grid-area: article;
    }
}
