@import "base/variables";
@import "base/mixins";

$datesSectionWidth: 175px;
$dateSectionTitle: 150px;

.container {
    width: $datesSectionWidth;
    height: 100%;
    @include flexCenter;
    background-color: $black;

    .logo {
        grid-area: logo;
        @include flexCenter;

        color: $primary;
        font-size: 5rem;
        img {
            width: 80px;
        }
    }
}
