@import "base/mixins.scss";
@import "base/variables.scss";

.container {
    position: absolute;
    border-radius: 1rem;
    height: 7rem;
    width: 7rem;
    bottom: -8rem;
    z-index: 5;
    pointer-events: none;
    overflow: visible;
    left: 0;
    right: 0;
    margin: auto auto;
    @include flexCenter;
    flex-direction: column;
    background: $white;
    color: $black;
    padding: 0;

    .triangle {
        // background: $white;
        background: blue;
        height: 1rem;
        width: 1rem;
    }

    .logo {
        width: 2.5rem;
    }
}
