@import "base/variables.scss";

$borderLightness: 30%;

.container {
    width: 100%;
    display: block;
    height: 14rem;
    padding: 20px;
    padding-left: 30px;

    cursor: pointer;

    * {
        color: grey;
    }

    .title {
        font-weight: bold;
        font-size: 1.1rem;
        color: $green;
    }

    .readMore {
        color: $green;
        transition: all 0.2s;
        height: 1.6rem;
        transform-origin: 0 0;
    }

    &:hover {
        .readMore {
            transform: scale(1.2);
        }
    }
}

.lighterBackground {
    // background: darken(inherit, 20%);
}
